header{
    display: flex;
    width: 1320px;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: #FAFAFA;
}

.head_ul1{
    display: flex;
    gap: 40px;
}

.head_a{
    display: flex;
    align-items: center;
}

.head_a p{
    margin-right: 2px;
    color: var(--Dark-Gray, #232321);
    font-size: 16px;
    font-weight: 600;
}