
body{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 32px;

    font-family: Rubik;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    
}

@import url("header.css");
@import url("reset.css");
